@font-face {
  font-family: 'FredokaOne';
  src: url('/fonts/FredokaOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RandomlyCute';
  src: url('/fonts/RandomlyCute-GOqPA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primaryColor: #feeae7;
  --border: #fe9786;
  --modTextColor: white;
  --modBackgroundColor: #94E6D3;
  --subBackgroundColor: #ffaa92;
  --subTextColor: white;
  --vipTextColor: white;
  --vipBackgroundColor: #f0a8f8;
  --meTextColor: white;
  --meBackgroundColor: #e93939;
  --noneTextColor: white;
  --noneBackgroundColor: #ffc6bd;
  --giftTextColor: #3ab468;
  --subprimeTextColor: #3ab468;
  --bitTextColor: #3ab468;
  --followTextColor: #3ab468;
  --subscriberTextColor: #3ab468;
}

* {
  font-family: 'FredokaOne';
  box-sizing: border-box;
}

.chat {
  background-color: transparent;
  position: fixed;
  top: 40px;
  right: 10px;
  bottom: 40px;
  left: 10px;
  border-radius: 40px;
  padding: 30px 20px 10px 20px;
}

.chat::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 45px;
  z-index: -1;
}

@media all and (min-width: 1025px) {
  .chat {
    left: auto;
    width: 220px;
  }
}

.chat .chat-end {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.chat .chat-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 100%;
  padding-top: 10px;
}

.chat .chat-baloon {
  position: absolute;
  top: -42px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}

.chat .chat-baloon img {
  width: 100%;
}

.chat .chat-baloon img.heart {
  height: 60px;
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  object-fit: contain;
}

.chat .chat--message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat .chat--message .chat--message-text {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 10px;
  min-height: 30px;
  flex: 1;
  position: relative;
  overflow: hidden;
  background-color: white;
  font-size: 0.7rem;
  text-align: center;
  word-break: break-all;
  text-transform: uppercase;
  color:#7c1912;
}



.chat .event {
  position: relative;
  border-radius: 20px;
  display: flex;
  padding: 25px 5px 10px 5px;
  flex-direction: column;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#ffefbf;
}

.chat .event .chat-user {
  grid-area: name;
  color: #3ab468;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  word-break: break-all;
  font-family: 'Cute Stitch';
}

.chat .event.chat--subgift .chat-user,
.chat .event.chat--subgiftuser .chat-user {
  color: var(--giftTextColor);
}

.chat .event.chat--prime .chat-user,
.chat .event.chat--resubprime .chat-user {
  color: var(--subprimeTextColor);
}

.chat .event.chat--bit .chat-user {
  color: var(--bitTextColor);
}

.chat .event.chat--follow .chat-user {
  color: var(--followTextColor);
}

.chat .event.chat--sub .chat-user,
.chat .event.chat--subtier2 .chat-user,
.chat .event.chat--subtier3 .chat-user,
.chat .event.chat--resub .chat-user,
.chat .event.chat--resubtier2 .chat-user,
.chat .event.chat--resubtier3 .chat-user {
  color: var(--subscriberTextColor);
}


.chat .event .chat-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -25px;
  height: 50px;
}

.chat .event .chat-event {
  grid-area: event;
  color: #07571f;
  text-align: center;
  font-size: 0.6rem;
}

.chat .chat--message-container {
  display: flex;
  margin-left: 10px;
}

.chat .chat--message-user-type-acc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  gap: 2px;
  margin-bottom: 10px;
}



.chat .chat--message-user-type-acc .big-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.chat .chat--message-user-type-acc .circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.chat .chat--message-user-type-acc .line {
  width: 7px;
  border-radius: 7px;
  flex: 1;
}

.chat .chat--message .chat--message-user-type {
  border-radius: 20px;
  font-weight: bold;
  align-self: flex-start;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  word-break: break-all;
  display:flex;
  align-items: flex-start;
  position: relative;
}

.chat .chat--message .chat--message-user-type span{
  margin-left: 50px;
  padding-bottom: 5px;
}

.chat .chat--message .chat--message-user-type img{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom:-10px;
  z-index: 4;
}

.chat .chat--message .chat--message-user-type__mod {
  color: var(--modTextColor);
}

.chat .chat--message .chat--message-user-type__me {
  color: var(--meTextColor);
}

.chat .chat--message .chat--message-user-type__vip {
  color: var(--vipTextColor);
}

.chat .chat--message .chat--message-user-type__none {
  color: var(--noneTextColor);
}

.chat .chat--message .chat--message-user-type__sub {
  color: var(--subTextColor);
}

.chat .chat--message:nth-child(odd) {
  align-self: flex-end;
}

.chat .chat--message:nth-child(even) {
  align-self: flex-start;
}